# editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 2

[*.md]
indent_size = 4
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf

[*.{csv,tsv}]
charset = unset
indent_style = unset
indent_size = unset
end_of_line = unset
insert_final_newline = false
trim_trailing_whitespace = false
